FDA_DROP_BOX_M27/Web References/WS_SIP27/WS_SIP27.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="M27_BILL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TR_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="M27_BILLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="M27_BILLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="M27_BILLSoapIn">
    <wsdl:part name="parameters" element="tns:M27_BILL" />
  </wsdl:message>
  <wsdl:message name="M27_BILLSoapOut">
    <wsdl:part name="parameters" element="tns:M27_BILLResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_SIP27Soap">
    <wsdl:operation name="M27_BILL">
      <wsdl:input message="tns:M27_BILLSoapIn" />
      <wsdl:output message="tns:M27_BILLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_SIP27Soap" type="tns:WS_SIP27Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="M27_BILL">
      <soap:operation soapAction="http://tempuri.org/M27_BILL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_SIP27Soap12" type="tns:WS_SIP27Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="M27_BILL">
      <soap12:operation soapAction="http://tempuri.org/M27_BILL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_SIP27">
    <wsdl:port name="WS_SIP27Soap" binding="tns:WS_SIP27Soap">
      <soap:address location="http://164.115.28.65/SIP27/WS_SIP27.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_SIP27Soap12" binding="tns:WS_SIP27Soap12">
      <soap12:address location="http://164.115.28.65/SIP27/WS_SIP27.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>